:host {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;

  .card {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    &.mat-card {
      padding: 0;
    }

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 90%;
      margin: 0 10px;
      user-select: none;
    }
  }
}
