.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "control-area" "main-area";
  width: 100%;
  height: 100vh;
}

.control-area {
  grid-area: control-area;
}

.main-area {
  position: relative;
  grid-area: main-area;
}
