.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "control-area" "layers-area" "main-area";
  width: 100vw;
  height: 100%;
}

.layers-area {
  width: 100vw;
  grid-area: layers-area;
}

.control-area {
  grid-area: control-area;
}

.main-area {
  grid-area: main-area;
}
